@page
@model ExerciseVideo.Pages.CreateWorkoutModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Create a New Workout</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body class="body">

    <h1 class="fs-1">New Workout:</h1>
    <br />


    <div id="divChooseOptions" style="display:none">

        <div>
            <h2>Step 1: Customize Options</h2>
        </div>

        <div>
            <label for="Title" class="control-label">Workout title:</label>
            <br />
            <input id="txtTitle" type="text" name="Title" value="" />
            <br />
        </div>

        <br />

        <div>
            <label class="control-label">Play audio for:</label>
            <br />
            <input id="chkAudioSpeakExercise" type="checkbox" name="AudioSpeakExercise" value="true" />
            <label for="AudioSpeakExercise">Name of exercise</label>
            <br />
            <input id="chkAudioSpeakGo" type="checkbox" name="AudioSpeakGo" value="true" />
            <label for="AudioSpeakGo">Start of exercise</label>
            <br />
            <input id="chkAudioSecondTick" type="checkbox" name="AudioSecondTick" value="true" />
            <label for="AudioSecondTick">Tick for each second</label>
            <br />
            <input id="chkAudioEndExercise" type="checkbox" name="AudioEndExercise" value="true" />
            <label for="AudioEndExercise">End of exercise</label>
            <br />
        </div>

        <br />

        <div>
            <label for="TransitionTime" class="control-label">Seconds for transition between exercises:</label>
            <br />
            <input id="txtTransitionTime" type="number" name="TransitionTime" value="0" min="0" max="10" step="1" />
            <br />
        </div>

        <br />

        <div>
            <button onclick="clickNext()">Next</button>
        </div>

    </div>

    <div id="divChooseExercises" style="display:none">

       <div>
           <h2>Step 2: Add Exercises</h2>
       </div>
        
        <div>
            <label for="Name" class="control-label">Exercise name:</label>
            <br />
            <input id="txtExerciseName" type="text" name="Name" value="" />
            <br />
        </div>

        <div>
            <label for="Time" class="control-label">Seconds:</label>
            <br />
            <input id="txtExerciseSeconds" type="number" name="Time" value="10" min="1" max="3600" step="1" />
            <br />
        </div>

        <div>
            <button onclick="clickBack()">Back</button>
            <button onclick="clickAddAnotherExercise()">Add Another</button>
            <button onclick="clickNext()">Next</button>
        </div>

    </div>

    <script type="text/javascript">

        var step;

        var audioSpeakExercise;
        var audioSpeakGo;
        var audioSecondTick;
        var audioEndExercise;
        var transitionTime;
        var workoutTitle;

        var exercises = new Array();
        var numberOfExercises;

        window.onload = setup;

        function setup() {
            log("setup");
            step = 1;
            numberOfExercises=0;
            updateDisplay();
        }

        var clickAddAnotherExercise = () => {
            log("clickAddAnotherExercise");
            saveChanges();
        }

        var clickBack = () => {
            log("clickBack");
            step--;
            updateDisplay();
        }

        var clickNext = () => {
            log("clickNext");
            saveChanges();
            step++;
            updateDisplay();
            
        }

        var log = (entry) => {
            var time = new Date();
            console.log(time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds() + "." + time.getMilliseconds() + " " + entry);
        }

        var updateDisplay = () => {
            log("updateDisplay: step " + step)
            if (step == 1) {
                document.getElementById("divChooseOptions").style.display = "block";
                document.getElementById("divChooseExercises").style.display = "none";
            }
            else if (step == 2) {
                document.getElementById("divChooseOptions").style.display = "none";
                document.getElementById("divChooseExercises").style.display = "block";
            }
            else if (step == 3) {
                document.getElementById("divChooseOptions").style.display = "none";
                document.getElementById("divChooseExercises").style.display = "none";
            }
        }

        var saveChanges = () => {
            log("saveChanges");
            if (step == 1) {              
                audioSpeakExercise = document.getElementById("chkAudioSpeakExercise").checked;
                audioSpeakGo = document.getElementById("chkAudioSpeakGo").checked;
                audioSecondTick = document.getElementById("chkAudioSecondTick").checked;
                audioEndExercise = document.getElementById("chkAudioEndExercise").checked;
                transitionTime =  document.getElementById("txtTransitionTime").value;
                workoutTitle = document.getElementById("txtTitle").value;
                log("audioSpeakExercise: " + audioSpeakExercise);
                log("audioSpeakGo: " + audioSpeakGo);
                log("audioSecondTick: " + audioSecondTick);
                log("audioEndExercise: " + audioEndExercise);
                log("transitionTime: " + transitionTime);
                log("workoutTitle: " + workoutTitle);
            }
            else if (step == 2) {
                var exerciseName = document.getElementById("txtExerciseName").value;
                var exerciseDuration = document.getElementById("txtExerciseSeconds").value;
                exercises.push({Name:exerciseName, Time:exerciseDuration, Order:numberOfExercises});
                log("name: " + exerciseName);
                log("time: " + exerciseDuration);
                log("order: " + numberOfExercises);
                numberOfExercises ++;
                document.getElementById("txtExerciseName").value = "";
                document.getElementById("txtExerciseSeconds").value = "";
            }

        }

    </script>

</body>

</html>
